@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  background-color: #c1c0b9;
}

.quote {
  font-family: "Pacifico", cursive;
  font-size: 28px;
  text-align: center;
  padding-top: 30px;
}

.timeline {
  float: left;
  padding-top: 50px;
  padding-left: 50px;
  font-size: 20px;
}
table {
  border-collapse: collapse;
}

table,
tr,
td {
  border: 1px solid grey;
  margin: 55px;
  padding: 20px;
  width: 735px;
}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
  margin: 10px;
}
h4 {
  text-align: center;
  margin: 10px;
}
ul {
  margin-left: 60px;
}
.profile {
  float: right;
  margin-left: auto;
  font-size: 20px;
  padding-right: 50px;
  padding-top: 40px;
}

.hero-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 50%;
}
